name: Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install cargo-nextest
        uses: taiki-e/install-action@nextest
      - name: Install Just
        uses: extractions/setup-just@v3
      - name: Build
        run: just build
      - name: Test
        run: just test

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install cargo-nextest
        uses: taiki-e/install-action@nextest
      - name: Install Just
        uses: extractions/setup-just@v3
      - name: Check formatting
        run: just check
      - name: Check linting
        run: just lint
